//############################
//# Base.scss innehåller resets,
//# mixins, variabler
//############################

/*##############################################################
#   BASE
###############################################################*/


/********************************
*   RESTETS
********************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}