//############################
//# Base.scss innehåller resets,
//# mixins, variabler
//############################

/*##############################################################
#   BASE
###############################################################*/


/********************************
*   RESETS
********************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/********************************
*   VARIABLES
********************************/

$base-color: #707070;

$main-font: 'Josefin Sans', sans-serif;

/********************************
*   FONTS
********************************/

h1, h2, h3, h4, p, strong, span, a, address, small {
    font-family: $main-font;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $base-color;
}
a:hover {
    opacity: .7;
}