//############################
//# Components.scss innehåller: 
//# Komponenter som går att återanvända,
//# så som knappar, navbars, kort mm
//#
//############################

/*##############################################################
#   COMPONENTS
###############################################################*/

/********************************
*   NAVBAR
********************************/



/*************BUTTONS**************/
.btn {  
    border: none;
    margin: 0;
    text-decoration: none;
    background: transparent;
    color: $base-color;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: transparent;
}

button:focus {
    outline: 1px solid transparent;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}


/*****************************************/
.btn {
    
    &--close {
    display: none;
    }
}
