//############################
//# Components.scss innehåller: 
//# Komponenter som går att återanvända,
//# så som knappar, navbars, kort mm
//#
//############################

/*##############################################################
#   COMPONENTS
###############################################################*/

/********************************
*   NAVBAR
********************************/



/*************BUTTONS AND INPUTS **************/
.btn,
input {  
    border: none;
    margin: 0;
    text-decoration: none;
    background: transparent;
    color: $base-color;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus,
input:hover,
input:focus {
    background: transparent;
}

button:focus,
input:focus {
    outline: 1px solid transparent;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}


/*****************************************/
.btn-close {
    font-size: 1.5rem;

    @media screen and (min-width: 769px) {
        display: none;
    }
}


/***************  EXPANDABLE ELEMENTS ********************/

// Extend down on hover
.exp-B {

    &__cont {
    visibility: hidden;  
    max-height: 0;
    transition: max-height .5s ease-out;
    overflow: hidden;
    }

    & > .exp-B__item {
        opacity: 0;
        transition: opacity .5s; // transition out
    }

}



.exp-B:hover {


    & > .exp-B__cont {
        visibility: visible;
        max-height: 100vh;
        transition: max-height  3s ease-out;
        margin-bottom: 1rem;
        

        & > .exp-B__item {
            opacity: 1;
            transition: opacity 1.5s; //transition in
        }

    }
}

/***************  HERO SLIDESHOW ********************/

.hero-container {
    position: relative;
}


.hero-slide {
    position: relative;

    &__img {
        max-height: 310px;
        width: 100%;
        object-fit: cover;

        @media screen and (min-width: 769px) {
            max-height: 500px;
        }
    }

    &__title {
        position: absolute;
        top: 20%;
        margin-left: 20%;
        font-size: 1rem;
        font-weight: 200;
        text-transform: uppercase;
    }
    &__p {
        position: absolute;
        top: calc(20% + 1.5rem);
        margin-left: 20%;
        font-size: 2rem;
        font-weight: 600;
    }

    &__link {
        position: absolute;
        top: 50%;
        left: 0;
        margin-left: 20%;
        font-size: 1rem;
        font-weight: 400;
        padding: 12px 20px 10px;
        text-transform: uppercase;

        border: 1px solid rgb(37, 37, 37);

    }

}

// Fade för slideshow
.fade-slide {
    animation-name: fade;
    animation-duration: 2s;
  }

  @keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
  }


// Navigerings pilar för hero
.hero-back,
.hero-frw {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.hero-back {
    left: 20px;
}
.hero-frw {
    right: 20px;
}


/***************  Kategori kort ********************/
.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 40px;

}

.card {
    width: 45%;  
    height: auto; 
    margin-bottom: 2rem;

    @media screen and (min-width: 769px) {
        max-width: 30%;
    }

    @media screen and (min-width: 1024px) {
        max-width: 23%;
    }

    // Container som håller bilden, hjälper till med zoom funktionen
    &__imgframe {
        // border: solid 1px red;
        overflow: hidden;
    
    }

    & .product {
        height: 100px;
        object-fit: contain;

        @media screen and (min-width: 425px) {
            height: 150px;
        }

    }


    &__img {
        
        width: 100%;
        
        
        transition: transform .5s ease-in;   
    }

    

    // Zommar in bild vid hover
    &__img:hover {
        transform: scale(1.1);
        transition: transform .7s ease-in-out;
    }

    &__amount,
    &__desc {
       font-size: 1rem;
       font-weight: 200;
       margin-bottom: .5rem;
       margin-top: .5rem;
    }

    &__title, 
    &__price {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2rem; 
        @media screen and (min-width: 426px) {
            font-size: 1.563rem;
            line-height: 2.5rem
        }
    }
}

/***************  News letter  ********************/


.news-letter {
    padding-top: 50px;
    padding-bottom: 100px;

    &__title {
        font-size: 1rem;
        line-height: 2rem;

        @media screen and (min-width: 426px) {
            font-size: 1.5rem;
            line-height: 3rem;
        }

    }

    &__desc {
        font-size: .75rem;
        line-height: 1rem; 
        
        font-weight: 400;
        margin-bottom: 2rem;

        @media screen and (min-width: 426px) {
            font-size: 1rem;
            line-height: 2rem;
        }
    }

    & .form {
        
        &__input {
            text-align: left;
            border: 2px solid $base-color;
            padding: 10px;
            width: 70%;

            @media screen and (min-width: 426px) {
                width: 50%; 
            }
        }

        &__send {
            padding: 10px;
            border: 2px solid $base-color;
            background-color: $base-color;
            color: white;
            margin-left: -5px;
            transition: background-color .5s ease-in-out, color .5s ease-in-out;
        }

        &__send:hover {
            background-color: white;
            color: $base-color;
        }

        
    }
}