//#################################
//# Layout.scss innehåller: 
//# Styling av bla containrar, grid 
//# och annan layout.
//#
//#################################

/*##############################################################
#   LAYOUT
###############################################################*/

main {
    max-width: 1000px;
    margin: 0 auto;
}

.main-content {
    padding: 0 20px;

    @media screen and (min-width: 1000px) {
        padding: 0;
    }
}


/********************************
*   NAVBAR
********************************/

.site-header {
    width: 100%;
    padding: 10px 20px;
}

.site-nav-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.site-nav {
    display: block; 
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100vh;
    padding: 20px 0px;
    background-color: white;
    

    // border: solid 1px gray;

    @media screen and (min-width: 769px) {
        visibility: visible;
        width: auto;
        height: 100%;
        // display: block;
        position: inherit;
        background-color: transparent;
        margin-right: auto;
        overflow:visible;
        
    }

    &.toggleMenu {
        padding: 20px;
        visibility: visible;
        width: 70%;
        transition: all 500ms ease-out;
        z-index: 90;

        @media screen and (min-width: 769px) { 
            width: auto;
            height: 100%;
            padding: 0;
        }
    }

    &__btn {
        margin-right: auto;
        font-size: 1.5rem;
        @media screen and (min-width: 769px) {
            display: none;
            // margin-right: inherit;
        }

    }

    &__menu {
        display: flex;
        flex-direction: column;
        
        
    
        @media screen and (min-width: 769px) {
            flex-direction: row;
        }
    }

    &__sub-menu {

        margin-left: 1.5rem;

        @media screen and (min-width: 769px) {
            position: absolute;
            // overflow: visible;
            margin-left: .5rem;
            padding: 10px 10px 20px;
            background: white;
            z-index: 100;
        }

    }

    &__listItem {
        position: relative;
        margin-right: 1rem;
        margin-top: 1rem;
    }


    &__link {
        white-space: nowrap;
    }
    
    

} // end site-nav

.site-logo {
    max-width: 50px;
    max-height: 50px;
    flex: 1;
}

.shop-nav {
    margin-left: auto;
    display: flex;
    @media screen and (min-width: 769px) {
        justify-content: flex-end;
        min-width: calc(30% - 50px); 
    }
    

    &__menu {
        display: flex;
        
    }

    &__listItem {
        margin-right: 1rem;
    }

}

/***************  HERO SLIDESHOW ********************/

