/*##############################################################
#   BASE
###############################################################*/
/********************************
*   RESETS
********************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/********************************
*   VARIABLES
********************************/
/********************************
*   FONTS
********************************/
h1, h2, h3, h4, p, strong, span, a {
  font-family: "Josefin Sans", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #707070;
}

/*##############################################################
#   COMPONENTS
###############################################################*/
/********************************
*   NAVBAR
********************************/
/*************BUTTONS**************/
.btn {
  border: none;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: #707070;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background 250ms ease-in-out,  -webkit-transform 150ms ease;
  transition: background 250ms ease-in-out,  -webkit-transform 150ms ease;
  transition: background 250ms ease-in-out,  transform 150ms ease;
  transition: background 250ms ease-in-out,  transform 150ms ease,  -webkit-transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: transparent;
}

button:focus {
  outline: 1px solid transparent;
  outline-offset: -4px;
}

button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

/*****************************************/
.btn-close {
  font-size: 1.5rem;
}

@media screen and (min-width: 769px) {
  .btn-close {
    display: none;
  }
}

/***************  EXPANDABLE ELEMENTS ********************/
.exp-B__cont {
  visibility: hidden;
  max-height: 0;
  -webkit-transition: max-height .5s ease-out;
  transition: max-height .5s ease-out;
  overflow: hidden;
}

.exp-B > .exp-B__item {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.exp-B:hover > .exp-B__cont {
  visibility: visible;
  max-height: 100vh;
  -webkit-transition: max-height  3s ease-out;
  transition: max-height  3s ease-out;
  margin-bottom: 1rem;
}

.exp-B:hover > .exp-B__cont > .exp-B__item {
  opacity: 1;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

/***************  HERO SLIDESHOW ********************/
.hero-container {
  position: relative;
}

.hero-slide {
  position: relative;
}

.hero-slide__img {
  max-height: 310px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 769px) {
  .hero-slide__img {
    max-height: 500px;
  }
}

.hero-slide__title {
  position: absolute;
  top: 20%;
  margin-left: 20%;
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
}

.hero-slide__p {
  position: absolute;
  top: calc(20% + 1.5rem);
  margin-left: 20%;
  font-size: 2rem;
  font-weight: 600;
}

.hero-slide__link {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 20%;
  font-size: 1rem;
  font-weight: 400;
  padding: 12px 20px 10px;
  text-transform: uppercase;
  border: 1px solid #252525;
}

.fade-slide {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: .8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .8;
  }
  to {
    opacity: 1;
  }
}

.hero-back,
.hero-frw {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.hero-back {
  left: 20px;
}

.hero-frw {
  right: 20px;
}

/***************  Kategori kort ********************/
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 40px;
}

.card {
  width: 45%;
  height: auto;
  margin-bottom: 2rem;
}

@media screen and (min-width: 769px) {
  .card {
    max-width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    max-width: 23%;
  }
}

.card__imgframe {
  max-height: 45vw;
  max-width: auto;
  overflow: hidden;
}

@media screen and (min-width: 769px) {
  .card__imgframe {
    max-height: 30vw;
  }
}

@media screen and (min-width: 1000px) {
  .card__imgframe {
    max-height: calc((1000px / 4) - 20px);
  }
}

.card__img {
  max-height: 45vw;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform .5s ease-in;
  transition: -webkit-transform .5s ease-in;
  transition: transform .5s ease-in;
  transition: transform .5s ease-in, -webkit-transform .5s ease-in;
}

.card__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .7s ease-in-out;
  transition: -webkit-transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out, -webkit-transform .7s ease-in-out;
}

.card__amount, .card__desc {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.card__title, .card__price {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
}

@media screen and (min-width: 426px) {
  .card__title, .card__price {
    font-size: 1.563rem;
    line-height: 2.5rem;
  }
}

/***************  Produkt kort ********************/
/*##############################################################
#   LAYOUT
###############################################################*/
main {
  max-width: 1000px;
  margin: 0 auto;
}

.main-content {
  padding: 0 20px;
}

@media screen and (min-width: 1000px) {
  .main-content {
    padding: 0;
  }
}

/********************************
*   NAVBAR
********************************/
.site-header {
  width: 100%;
  padding: 10px 20px;
}

.site-nav-container {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: block;
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100vh;
  padding: 20px 0px;
  background-color: white;
}

@media screen and (min-width: 769px) {
  .site-nav {
    visibility: visible;
    width: auto;
    height: 100%;
    position: inherit;
    background-color: transparent;
    margin-right: auto;
    overflow: visible;
  }
}

.site-nav.toggleMenu {
  padding: 20px;
  visibility: visible;
  width: 70%;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  z-index: 90;
}

@media screen and (min-width: 769px) {
  .site-nav.toggleMenu {
    width: auto;
    height: 100%;
    padding: 0;
  }
}

.site-nav__btn {
  margin-right: auto;
  font-size: 1.5rem;
}

@media screen and (min-width: 769px) {
  .site-nav__btn {
    display: none;
  }
}

.site-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 769px) {
  .site-nav__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.site-nav__sub-menu {
  margin-left: 1.5rem;
}

@media screen and (min-width: 769px) {
  .site-nav__sub-menu {
    position: absolute;
    margin-left: .5rem;
    padding: 10px 10px 20px;
    background: white;
    z-index: 100;
  }
}

.site-nav__listItem {
  position: relative;
  margin-right: 1rem;
  margin-top: 1rem;
}

.site-nav__link {
  white-space: nowrap;
}

.site-logo {
  max-width: 50px;
  max-height: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.shop-nav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 769px) {
  .shop-nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    min-width: calc(30% - 50px);
  }
}

.shop-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-nav__listItem {
  margin-right: 1rem;
}

/***************  PRODUKT WRAPPER ********************/
.products-head {
  text-align: center;
  margin-bottom: 2rem;
}

.products-head__title {
  font-size: 1.5rem;
  line-height: 3rem;
}

.products-head__desc {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
}
