/*##############################################################
#   BASE
###############################################################*/
/********************************
*   RESETS
********************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/********************************
*   VARIABLES
********************************/
/********************************
*   FONTS
********************************/
h1, h2, h3, h4, p, strong, span, a, address, small {
  font-family: "Josefin Sans", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  opacity: .7;
}

/*##############################################################
#   COMPONENTS
###############################################################*/
/********************************
*   NAVBAR
********************************/
/*************BUTTONS AND INPUTS **************/
.btn,
input,
select {
  border: none;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: #333333;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background 250ms ease-in-out,  -webkit-transform 150ms ease;
  transition: background 250ms ease-in-out,  -webkit-transform 150ms ease;
  transition: background 250ms ease-in-out,  transform 150ms ease;
  transition: background 250ms ease-in-out,  transform 150ms ease,  -webkit-transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn__dark,
.select__dark {
  padding: 10px 20px;
  border: 1px solid #333333;
  border-radius: 2px;
  background-color: #333333;
  color: white;
}

.btn__dark:hover,
.select__dark:hover {
  background: white;
  border-color: #333333;
  color: #333333;
}

.btn__dark:focus,
.select__dark:focus {
  color: #333333;
}

.btn__light,
.select__light {
  padding: 5px 10px;
  border: 1px solid #333333;
  border-radius: 2px;
  background-color: white;
  color: #333333;
}

.btn__light:hover,
.select__light:hover {
  background: #333333;
  border-color: #333333;
  color: white;
}

.select__light {
  font-size: .75rem;
}

button:hover,
button:focus,
input:hover,
input:focus {
  background: transparent;
}

select:focus,
button:focus,
input:focus {
  outline: 1px solid transparent;
  outline-offset: -4px;
}

button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

/*********** Custom Inputs ********************/
.number__light {
  background: white;
  padding: 5px;
}

/*****************************************/
.btn-close {
  font-size: 1.5rem;
}

@media screen and (min-width: 769px) {
  .btn-close {
    display: none;
  }
}

/***************  EXPANDABLE ELEMENTS ********************/
.exp-B__cont {
  visibility: hidden;
  max-height: 0;
  -webkit-transition: max-height .5s ease-out;
  transition: max-height .5s ease-out;
  overflow: hidden;
}

.exp-B > .exp-B__item {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.exp-B:hover > .exp-B__cont {
  visibility: visible;
  max-height: 100vh;
  -webkit-transition: max-height  3s ease-out;
  transition: max-height  3s ease-out;
  margin-bottom: 1rem;
}

.exp-B:hover > .exp-B__cont > .exp-B__item {
  opacity: 1;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

/***************  toggle expand  ********************/
.arrow {
  position: absolute;
  text-align: center;
  font-size: 1rem;
  top: -2;
  right: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.rotateArrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.tExp {
  visibility: hidden;
  max-height: 0;
  -webkit-transition: max-height .5s ease-out;
  transition: max-height .5s ease-out;
  overflow: hidden;
}

.tExpOut {
  visibility: visible;
  max-height: 100vh;
  -webkit-transition: max-height  3s ease-out;
  transition: max-height  3s ease-out;
  margin-bottom: 1rem;
}

/***************  toggle visable ********************/
.visable {
  display: block;
}

/***************  HERO SLIDESHOW ********************/
.hero-container {
  position: relative;
}

.hero-slide {
  position: relative;
}

.hero-slide__img {
  max-height: 310px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 769px) {
  .hero-slide__img {
    max-height: 500px;
  }
}

.hero-slide__title {
  position: absolute;
  top: 20%;
  margin-left: 20%;
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
}

.hero-slide__p {
  position: absolute;
  top: calc(20% + 1.5rem);
  margin-left: 20%;
  font-size: 2rem;
  font-weight: 600;
}

.hero-slide__link {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 20%;
  font-size: 1rem;
  font-weight: 400;
  padding: 12px 20px 10px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  border: 1px solid #252525;
}

.hero-slide__link:hover {
  background: white;
}

.fade-slide {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: .8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .8;
  }
  to {
    opacity: 1;
  }
}

.hero-back,
.hero-frw {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.hero-back {
  left: 20px;
}

.hero-frw {
  right: 20px;
}

/***************  Kategori kort ********************/
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-top: 50px;
  padding-bottom: 40px;
}

.card {
  width: 50%;
  height: auto;
  padding: 1rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 769px) {
  .card {
    max-width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    max-width: 25%;
  }
}

.card__imgframe {
  overflow: hidden;
}

.card__product {
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 425px) {
  .card__product {
    height: 150px;
  }
}

.card__img {
  width: 100%;
  -webkit-transition: -webkit-transform .5s ease-in;
  transition: -webkit-transform .5s ease-in;
  transition: transform .5s ease-in;
  transition: transform .5s ease-in, -webkit-transform .5s ease-in;
}

.card__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .7s ease-in-out;
  transition: -webkit-transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out, -webkit-transform .7s ease-in-out;
}

.card__amount, .card__desc {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.card__title, .card__price {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
}

@media screen and (min-width: 426px) {
  .card__title, .card__price {
    font-size: 1.563rem;
    line-height: 2.5rem;
  }
}

/***************  News letter  ********************/
.news-letter {
  padding-top: 50px;
  padding-bottom: 100px;
}

.news-letter__title {
  font-size: 1rem;
  line-height: 2rem;
}

@media screen and (min-width: 426px) {
  .news-letter__title {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

.news-letter__desc {
  font-size: .75rem;
  line-height: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

@media screen and (min-width: 426px) {
  .news-letter__desc {
    font-size: 1rem;
    line-height: 2rem;
  }
}

.news-letter .form__input {
  text-align: left;
  border: 2px solid #333333;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  width: 70%;
}

@media screen and (min-width: 426px) {
  .news-letter .form__input {
    width: 50%;
  }
}

.news-letter .form__send {
  padding: 10px;
  border: 2px solid #333333;
  border-radius: 0 5px 5px 0;
  background-color: #333333;
  color: white;
  margin-left: -5px;
  -webkit-transition: background-color .5s ease-in-out, color .5s ease-in-out;
  transition: background-color .5s ease-in-out, color .5s ease-in-out;
}

.news-letter .form__send:hover {
  background-color: white;
  color: #333333;
}

/***************  call to action card  ********************/
.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 225px;
  background: url("../images/contact-cta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  margin-bottom: 50px;
}

@media screen and (min-width: 426px) {
  .cta {
    height: 400px;
  }
}

.cta address {
  font-weight: 600;
}

.cta__btn {
  display: inline-block;
  text-align: center;
  width: 200px;
  margin-top: 2rem;
  padding: 10px 20px;
  border: 2px solid white;
  color: white;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.cta__btn:hover {
  background-color: #333333;
  border: 2px solid #333333;
  color: #252525;
}

/***************  SHOP  ********************/
.shop-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .shop-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.filter-btn-container {
  margin-bottom: 30px;
  text-align: right;
}

/***************  add to cart alert  ********************/
.added-to-cart {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 300px;
  border-radius: 5px;
  background: #a7fda7;
  padding: 40px;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
  z-index: 120;
}

.added-to-cart.visable {
  display: block;
}

/***************  filter card  ********************/
.filter-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px;
}

@media screen and (min-width: 425px) {
  .filter-card {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .filter-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 70vh;
    width: 200px;
  }
}

.filter-card__categories {
  margin-bottom: 1rem;
  width: 30%;
}

@media screen and (min-width: 425px) {
  .filter-card__categories {
    width: auto;
    margin-right: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .filter-card__categories {
    width: 100%;
  }
}

.filter-card__title {
  position: relative;
  width: 100%;
  cursor: pointer;
  padding-bottom: 5px;
  font-size: .75rem;
}

.filter-card__title .arrow {
  font-size: .75rem;
  right: auto;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .filter-card__title .arrow {
    right: 0;
    margin-left: 0px;
  }
}

.filter-card__link {
  line-height: 1.5rem;
  font-size: .75rem;
}

.filter-card__link:hover {
  text-decoration: underline;
}

/*##############################################################
#   LAYOUT
###############################################################*/
main {
  max-width: 1000px;
  margin: 20px auto 350px;
  background: white;
}

@media screen and (max-width: 319px) {
  main {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 426px) {
  main {
    margin-bottom: 250px;
  }
}

.main-content {
  padding: 0 20px;
}

@media screen and (min-width: 1000px) {
  .main-content {
    padding: 0;
  }
}

/********************************
*   NAVBAR
********************************/
.site-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  background: white;
  z-index: 80;
}

.site-nav-container {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: block;
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100vh;
  padding: 20px 0px;
  background-color: white;
}

@media screen and (min-width: 769px) {
  .site-nav {
    visibility: visible;
    width: auto;
    height: 100%;
    position: inherit;
    background-color: transparent;
    margin-right: auto;
    overflow: visible;
  }
}

.site-nav.toggleMenu {
  padding: 20px;
  visibility: visible;
  width: 70%;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  z-index: 90;
}

@media screen and (min-width: 769px) {
  .site-nav.toggleMenu {
    width: auto;
    height: 100%;
    padding: 0;
  }
}

.site-nav__btn {
  margin-right: auto;
  font-size: 1.5rem;
}

@media screen and (min-width: 769px) {
  .site-nav__btn {
    display: none;
  }
}

.site-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 769px) {
  .site-nav__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.site-nav__sub-menu {
  margin-left: 1.5rem;
}

@media screen and (min-width: 769px) {
  .site-nav__sub-menu {
    position: absolute;
    margin-left: .5rem;
    padding: 10px 10px 20px;
    background: white;
    z-index: 100;
  }
}

.site-nav__listItem {
  position: relative;
  margin-right: 1rem;
  margin-top: 1rem;
}

.site-nav__link {
  white-space: nowrap;
}

.site-logo {
  max-width: 40px;
  max-height: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 769px) {
  .site-logo {
    max-width: 50px;
    max-height: 50px;
  }
}

.shop-nav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 769px) {
  .shop-nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    min-width: calc(30% - 50px);
  }
}

.shop-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-nav__listItem {
  margin-right: 1rem;
}

.shop-nav__link {
  position: relative;
}

.shop-nav .basket {
  position: absolute;
  display: none;
  top: -12px;
  left: 5px;
  background: tomato;
  padding: 5px 8px;
  border-radius: 50%;
  font-size: .6rem;
  font-weight: 900;
  z-index: -2;
}

.shop-nav .basket.visable {
  display: block;
}

/***************  Shop ********************/
/***************  PRODUKT WRAPPER ********************/
.products-head {
  text-align: center;
  margin-bottom: 2rem;
}

.products-head__title {
  font-size: 1.5rem;
  line-height: 3rem;
}

.products-head__desc {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
}

/***************  Product ********************/
.shop-wrapper {
  position: relative;
}

.product {
  padding-bottom: 80px;
}

.product__imgframe {
  width: 100%;
}

.product img {
  width: 100%;
}

.product__title {
  line-height: 2.5rem;
}

.product__desc {
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.3rem;
  max-width: 600px;
}

.product__price {
  line-height: 2.5rem;
}

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
  background: lightgray;
}

@media screen and (min-width: 425px) {
  .product-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.product-info .containerL {
  padding: 20px;
}

.product-info .containerR {
  padding: 20px;
}

.product-info .product-add-to-cart label {
  display: block;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
}

.product-info .product-add-to-cart .add-to-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.product-info .product-add-to-cart .add-to-cart .number__light {
  width: 50px;
}

.product-info .product-add-to-cart .add-to-cart .bought {
  background: #a7fda7;
}

/***************  FOOTER ********************/
/*********footer nav***************/
footer {
  position: fixed;
  padding: 2rem;
  width: 100%;
  max-width: 1000px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: -1;
}

@media screen and (max-width: 319px) {
  footer {
    position: initial;
  }
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .footer-nav {
    width: 70%;
  }
}

.footer-nav__list {
  margin: 10px;
  min-width: 40%;
}

@media screen and (min-width: 425px) {
  .footer-nav__list {
    min-width: auto;
  }
}

.footer-nav__links {
  font-size: .75rem;
}

/*********footer info***************/
.footer-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 425px) {
  .footer-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-info__sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.footer-info__listItem {
  margin-right: 20px;
}

.footer-info__links {
  cursor: pointer;
}

.copyright {
  font-size: .625rem;
  color: #333333;
}
